# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Environment Variables
.env

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
